@media only screen and (min-width:611px) and (max-width:880px){
	h1{
		color:yellow;
	}
	#wrapper{
		width:550px;
		height:550px;
		border:3px solid yellow;
		padding: 10px;
	}
	img{
		width:540px;
		height:460px;

	}
	button{
		color:red;
		font-size: 16px;
		font-family: Arial;
	}
}
@media only screen and (min-width:501px) and (max-width: 610px){
	h1{
		color:red;
	}
	#wrapper{
		width:450px;
		height:500px;
		border:3px solid red;
		padding: 10px;
	}
	button{
		color:red;
		font-size: 14px;
		font-style: italic;
	}
	img{
		width:450px;
		height:430px;
	}
}


@media only screen and (max-width:500px){
	h1{
		color:green;
		text-decoration: underline;
	}
	#wrapper{
		width:320px;
		height:300px;
		border:3px solid green;
		padding: 10px;
	}
	button{
		color:green;
		font-size: 12px;
		font-weight: bold;
	}
	img{
		width:300px;
		height:230px;
	}
}